*{
	margin: 0px;
	padding: 0px;
}

#sp2{
	color: red;
}

#sp1{
	margin: 100px;
	padding: 100px;
	color: black;
}

p span{
	color: blueviolet;
}

.fuente{
	font-family: Arial, Helvetica, sans-serif;
}

span::after{
	content: '\A''\A'; white-space: pre;
}

#txt1, #txt2, #txt3{
	color: lightslategray;
	font-family: monospace;
	font-size: 20px;
	font-style: italic;
}

#borrar{
	background: red;
}

#copiar{
	background: green;
}

#guardar{
	background: blue;
}

.ui{
	color: black;
	font-family: cursive;
	font-size: 20px;
	margin: 100px;
	padding: 10px;
}